<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>903528977686-sk13qcv2nmhn61ca2nst44k7naicohf7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.903528977686-sk13qcv2nmhn61ca2nst44k7naicohf7</string>
	<key>API_KEY</key>
	<string>AIzaSyBipx-5jdlsT-6Jl5gv5n1-oMnbTGONhdM</string>
	<key>GCM_SENDER_ID</key>
	<string>903528977686</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.pakas.StudiousBus</string>
	<key>PROJECT_ID</key>
	<string>advance-maker-259715</string>
	<key>STORAGE_BUCKET</key>
	<string>advance-maker-259715.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:903528977686:ios:f026146493f744b6f0ec37</string>
</dict>
</plist>